//Contact 

.contact__container {
    position: relative;
    top: 64px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('../../../public/img/contact_font_pen_portfolio.jpg');
    background-size: cover;
    background-position: 50% 50%;
    border-top: #CD921E double 4px;



    & h1 {
        margin: 2rem auto;
        text-decoration: underline double 1px #CD921E;
        color: #CD921E;
        @include titleWeight;
        text-transform: uppercase;
    }

    &__fullForm {
        display: flex;
        width: 90%;
        margin-bottom: 5rem;
    }

    &__formContainer {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: #CD921E double 4px;
        border-radius: 20px;

        & form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 1rem auto;

            & label {
                text-align: center;
                margin: 1rem auto;
                width: 80%;
                text-transform: uppercase;
                text-decoration: double underline #CD921E;
                color: #CD921E;
                font-weight: 500;
            }

            & input {
                height: 2rem;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: solid #CD921E 2px;
                width: 80%;
                margin: 0 auto;
                font-weight: 600;
                font-size: 1rem;
                background-color: #f6f6f6;
                border-radius: 5px 5px 0 0;

                &:focus {
                    outline: none;
                    background: #c390f1;
                    border-radius: 5px 5px 0 0;
                }
            }

            & textarea {
                max-width: 20rem;
                min-width: 20rem;
                max-height: 23rem;
                min-height: 5rem;
                margin: 0 auto;
                border: solid #CD921E 2px;

                &:focus {
                    outline: none;
                    border: solid #c390f1 2px;
                }
            }

            & p {
                font-weight: 400;
                text-align: center;
                color: white;
            }

            & button {
                width: 50%;
                margin: 0 auto;
                height: 2rem;
                border-radius: 20px;
                border: double #CD921E 4px;
                background: rgb(205,146,30);
                background: linear-gradient(0deg, rgba(205,146,30,1) 0%, rgba(246,246,246,1) 100%);
                color: black;
                font-weight: 600;
                cursor: pointer;
                text-transform: uppercase;

                &:hover {
                    color: #CD921E;
                }

                &:active {
                    color: #20a7d8;
                }
            }

        }
    }

    &__mesInfos {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 1.1rem 0 10rem 0;
        border-left: #CD921E double 4px;
        border-radius: 20px;


        & h2 {
            text-decoration: underline double #CD921E 1px;
            color: #CD921E;
            font-size: 1rem;
            font-weight: 300;
            text-transform: uppercase;
        }

        & a {
            background-color: #f6f6f6;
            border-radius: 20px;
            color: #CD921E;
            height: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            padding: 0 2rem;

            &:hover {
                color: #20a7d8;

            }

            &:active {
                color: #551A8B;
            }
        }

        & i {
            // border: solid red 2px;
            padding: 5px;
        }
    }
}