//Cv 

.cv__container {
    width: 100%;
    position: relative;
    top: 64px;
    display: flex;
    flex-direction: column;
    border-top: double #CD921E 4px;
    background-image: url('../../../public/img/cvBG.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #f6f6f6;
    border-bottom: double #CD921E 4px;
    

    & h1 {
        text-align: center;
        color: #CD921E;
        text-transform: uppercase;
        text-decoration: underline double 1px #CD921E;
        @include titleWeight;
    }

    &__page {
        width: 100%;

        &__screenshot {
            display: flex;
            justify-content: center;

            & img {
                border: double #CD921E 3px;
                margin: 40px 0;
                object-fit: cover;
            }

        }
        &__download {
            border: double #CD921E 4px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20%;
            height: 6rem;
            background: rgb(205,146,30);
            background: linear-gradient(0deg, rgba(205,146,30,1) 0%, rgba(246,246,246,1) 100%);
            margin: 0 auto 30px auto;
            min-width: 30%;

            &__item {
                width: 100%;
                text-align: center;

                :hover{
                    color: #f6f6f6;
                }

                :active{
                    color: #551A8B;
                }
            }

            & p {
                color: black;
                font-weight: 600;
            }
        }
    }
}