//footer 

.footer__container {
    position: relative;
    top: 64px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-top: double #CD921E 4px;
    background-color: #f6f6f6;

    &__links {
        width: 100%;
        display: flex;
        justify-content: space-around;

        &__cv {
            @include footerLinks;

            & a {
                color: #CD921E;
            }

            & a:hover {
                color: #20a7d8;
            }

            & a:active {
                color: #551A8B;
            }
        }

        &__linkedin {
            @include footerLinks;

            & a {
                color: #CD921E;
            }

            & a:hover {
                color: #20a7d8;
            }

            & a:active {
                color: #551A8B;
            }
        }

        &__twitter {
            @include footerLinks;

            & a {
                color: #CD921E;
            }

            & a:hover {
                color: #20a7d8;
            }

            & a:active {
                color: #551A8B;
            }
        }

        &__github {
            @include footerLinks;

            & a {
                color: #CD921E;
            }

            & a:hover {
                color: #20a7d8;
            }

            & a:active {
                color: #551A8B;
            }
        }
    }

    & p {
        text-align: center;
        font-weight: 700;
        text-decoration: underline;
        color: #CD921E;
        ;

        & .fa-copyright {
            margin: auto 5px;
        }
    }
}