//footer 

.footer__container{
    position: relative;
    top: 64px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-top: double #CD921E 4px;
    // background: rgb(113,113,113);
// background: radial-gradient(circle, rgba(113,113,113,1) 0%, rgba(6,6,6,1) 100%);
//background: black;
background-color: #f6f6f6;
//background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 41%);
    &__links{
        width: 100%;
        display: flex;
        justify-content: space-around;
       

        &__cv{
            @include footerLinks;

            & a{
                color:#CD921E;
            }

            & a:hover{
                color: #20a7d8; 
            }

            & a:active{
                color: #551A8B; 
            }
            
        }

        &__linkedin{
            @include footerLinks;

            & a{
                color:#CD921E;
            }

            & a:hover{
                color: #20a7d8; 
            }

            & a:active{
                color: #551A8B; 
            }
        }

        &__twitter{           
            @include footerLinks;

            & a{
                color:#CD921E;
            }

            & a:hover{
                color: #20a7d8; 
            }

            & a:active{
                color: #551A8B; 
            }
        }
        &__github{           
            @include footerLinks;

            & a{
                color:#CD921E;
            }

            & a:hover{
                color: #20a7d8; 
            }

            & a:active{
                color: #551A8B; 
            }
    }
    }

    & p{
        text-align: center;
        font-weight: 700;
        text-decoration: underline;
        color: #CD921E;;

        & .fa-copyright{
            margin: auto 5px;
        }    
    }
    
    
}