//presentation

.presentation__container {
    position: relative;
    top: 64px;
    z-index: 8;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    overflow: hidden;
    color: #e5e5e5;
    border-bottom: double #CD921E 4px;

    & h1 {
        text-shadow: 0 0 7px rgba(255, 255, 255, .3),
            0 0 3px rgba(255, 255, 255, .3);
        text-align: center;
        text-transform: uppercase;
        @include titleWeight;
        font-style: italic;
        color: #CD921E;
    }

    &__animation {
        height: 50px;
        overflow: hidden;
        margin-left: 1rem;
        margin-left: 0;

        .first {
            color: #20a7d8;
            @include sizeAnimPresentation;
        }

        .second {
            color: #CD921E;
            @include sizeAnimPresentation;
        }

        .third {
            color: #c10528;
            @include sizeAnimPresentation;
        }

        .fourth {
            color: yellowgreen;
            @include sizeAnimPresentation;
        }

        .fifth {
            color: orangered;
            @include sizeAnimPresentation;
        }

        .sixth {
            color: green;
            @include sizeAnimPresentation;
        }

        .seventh {
            color: blue;
            @include sizeAnimPresentation;
        }

        .height {
            color: black;
            @include sizeAnimPresentation;
        }

    }

    &__animation div>div {
        padding: 0.25rem 0.75rem;
        display: inline-block;
        height: 50px;
    }

    &__animation div:first-child {
        animation: text-animation 15s infinite 2s both;
        width: 100%;
        height: 50px;
        text-align: center;
    }

    &__description {
        width: 100%;
        min-height: 70vh;
        margin-left: 45px;
        display: flex;
        align-items: center;

        &__left {
            border: double #CD921E 4px;
            width: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: -1;
            border-right: none;
            border-radius: 20px;
            margin: 5px 0;
            padding: 5rem;
            color: #CD921E;

            &__textContent {
                padding: 20px 0;
                width: 80%;
                line-height: 1.4rem;
                font-size: 1rem;

                &__profession {
                    text-decoration: underline double 1px #CD921E;
                    color: #551A8B;
                    font-style: italic;
                    font-weight: 700;
                }
            }
        }

        &__right {
            border: double #CD921E 4px;
            min-height: 60%;
            max-height: 90%;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            right: 6%;
            z-index: 1;
            border-left: none;
            border-radius: 20px;
            padding: 2rem;
            margin-right: 45px;
            color: #CD921E;


            &__img {
                border: double white 4px;
                height: 13rem;
                object-fit: cover;
                display: flex;
                border-radius: 50%;
                margin-top: 10px;
                border: double #CD921E 4px;

                & img {
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                    object-fit: cover;
                }
            }

            &__ofGripSentence {
                text-align: center;
                margin: 20px 2px;
                text-decoration: underline double 1px #CD921E;
            }
        }
    }
}