//Projets

.projets__container {
    position: relative;
    top: 64px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;

    & h1 {
        text-align: center;
        color: #CD921E;
        text-transform: uppercase;
        text-decoration: underline double 1px;
        @include titleWeight;
    }

    &__subcontainer {
        width: 100%;
        margin: 16rem auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__slideshow {
        width: 80%;
        box-shadow: .25rem 0.4rem 0.5rem 0 rgba(205, 146, 30, 0.35);
        background-color: white;

        &__each__slide {
            height: 100%;

            &__container {
                width: 93%;
                margin: 0 auto;
                height: 100%;

                & a {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                }

                & img {
                    margin: 0 auto;
                    object-fit: cover;
                    height: auto;
                    display: block;
                    max-width: 85%;
                }
            }
        }
    }
}