//principal color : dorée #CD921E 
//secondary color : blanc nacrée #f6f6f6
//tertiary color : buttons color: #551A8B;


/*Initialisation début de projet*/
*, ::before,::after{
    box-sizing: border-box;
}

html{
    width: 100%;
}

body{
    margin: 0;
    font-family: $polices_textes;
}

a{
    text-decoration: none;   
}

li{
    list-style-type: none;
}

main a{
    color: black;
}

