#root{
//border: solid blue 2px;
height: 100%;
}

header {
    //border: solid black 2px;
    display: flex;
    width: 100%;
    position: fixed;
    height: 4rem;
    box-shadow: .25rem 0.4rem 0.5rem 0 rgba(0, 0, 0, 0.13);
    z-index: 10;

    .nav__header {
        // border: solid red 2px;
        width: 100%;
        display: flex;

        &__ul {
            // border: solid green 2px;
            width: 100%;
            display: flex;
            padding: 0;
            height: 100%;
            margin: 0;

            &__item {
                // border: solid blue 2px;
                width: 20%;
                margin: 0 auto;

                &__left {
                    border-left: dotted 0.1rem #551A8B;
                }

                & a {
                    border-right: dotted 0.1rem #551A8B;
                    @include flex_centre;
                    height: 100%;
                    color: #444444;
                    background: #FFFFFF;
                    text-transform: uppercase;
                    font-weight: 800;
                    color: #551A8B;
                    /*color: #FFFFFF;
                    background: #232323;
                    text-shadow: 0 0 5px #FFF,
                        0 0 10px #04d9ff,
                        0 0 15px #04d9ff,
                        0 0 20px #04d9ff,
                        0 0 30px #04d9ff,
                        0 0 40px#04d9ff,
                        0 0 55px #04d9ff,
                        0 0 75px #04d9ff;*/
                    text-shadow: 1px 0px 1px #CCCCCC,
                        0px 1px 1px #EEEEEE,
                        2px 1px 1px #CCCCCC,
                        1px 2px 1px #EEEEEE,
                        3px 2px 1px #CCCCCC,
                        2px 3px 1px #EEEEEE,
                        4px 3px 1px #CCCCCC,
                        3px 4px 1px #EEEEEE,
                        5px 4px 1px #CCCCCC,
                        4px 5px 1px #EEEEEE,
                        6px 5px 1px #CCCCCC,
                        5px 6px 1px #EEEEEE,
                        7px 6px 1px #CCCCCC;

                }
            }
        }
    }
}


//sideBar

.sidebar {
    // border: solid red 2px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 10%;
    top: 64px;
    height: 100%;
    z-index: 9;
    opacity: 1;


    &__nav__links {
        // border: solid green 2px;
        height: 100%;
        box-shadow: .25rem 0.4rem 0.5rem 0 rgba(0, 0, 0, 0.13);
        background-color: #fff;

        & ul {
            // border: solid blue 2px;
            padding: 0 10px;
            height: 100%;
            margin: 0;
            @include flex_centre;
            flex-direction: column;
            transform: translateY(-32px);
        }

        &__li {
            // border: solid orangered 2px;
            width: 100%;
            margin: 20px 0;
        }

        &__link {
            // border: solid black 2px;
            text-align: center;
        }

    }

    .toggle__sidebar {
        border: none;
        position: relative;
        right: 5px;
        bottom: 32px;
        background-color: white;
        font-weight: 500;
        font-size: larger;
        color: #551A8B;
    }

    .toggle__sidebar:hover {
        cursor: pointer;
    }

}

//presentation

.presentation__container {
    // border: solid red 2px;
    position: relative;
    top: 64px;
    z-index: 8;
    min-height: 100vh;
    /*display: flex;
    justify-content: center;
    align-items: center;
    */
    margin: 0;
    padding: 0;
    // nd: rgb(2,0,36);
    // background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(156,148,153,1) 100%, rgba(0,212,255,1) 100%);
   background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(177, 37, 125, 1) 100%, rgba(0, 212, 255, 1) 100%);
    background-size: cover;
    overflow: hidden;
    //text-transform: uppercase;
    
    color: #e5e5e5;
   /* text-transform: uppercase;
    @include flex_centre;*/

    & h1 {
        text-shadow: 0 0 7px rgba(255, 255, 255, .3),
            0 0 3px rgba(255, 255, 255, .3);
        text-align: center;
        text-transform: uppercase;
        @include titleWeight;
        font-style: italic;
    
    }


    &__animation {
        height: 50px;
        overflow: hidden;
        margin-left: 1rem;
        //border: solid purple 2px;
        margin-left: 0;

        .first {
            color: #20a7d8;
            @include sizeAnimPresentation;
            
        }

        .second {
            color: #CD921E;
            @include sizeAnimPresentation;

        }

        .third {
            color: #c10528;
            @include sizeAnimPresentation;
        }

        .fourth {
           color: yellowgreen;
            @include sizeAnimPresentation;
        }

        .fifth {
            color: orangered;
            @include sizeAnimPresentation;
        }

        .sixth {
            color: green;
            @include sizeAnimPresentation;
        }

        .seventh {
            color: white;
            @include sizeAnimPresentation;
        }

        .height {
            color: black;
            @include sizeAnimPresentation;
        }

    }

    &__animation div > div {
        padding: 0.25rem 0.75rem;
        display: inline-block;
        height: 50px;

    }

    &__animation div:first-child {
       animation: text-animation 15s infinite 2s both;
        width: 100%;
        height: 50px;
        text-align: center;
        //animation: name duration timing-function delay iteration-count direction fill-mode;
        

    }

    &__description{
        width: 100%;
        min-height: 70vh;
       // border: solid black 2px;
        margin-left: 45px;
        display: flex;
        align-items: center;
        //justify-content: space-around;

        &__left{
            border: double white 4px;
            width: 70%;
           // margin-left: 45px;
           // height: 80%;
        //    min-height: 80%;
            // max-height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: -1;
            border-right: none;
            border-radius: 20px ;
            margin: 5px 0;
            padding: 5rem;

            &__textContent{
                padding: 20px 0 ;
                width: 80%;
                line-height: 1.4rem;
                font-size: 1rem;

                &__profession{
                    //text-transform: uppercase;
                    text-decoration: underline double 1px #CD921E;
                    color: #CD921E;
                }
            }
        }

        &__right{
            border: double white 4px;
            min-height: 60%;
            max-height: 90%;          
            width: 50%;
            //border-radius: 50% ;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            right: 6%;
            z-index: 1;
            border-left: none;
            border-radius: 20px ;
            padding:2rem;
            margin-right: 45px;

            &__img{
                border: double white 4px;
                //width: auto;
                height: 13rem;
                object-fit: cover;
                display: flex;
                border-radius: 50%;
                margin-top: 10px;
               
                & img{
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                    object-fit: cover;
                }

            }

            &__ofGripSentence{
                text-align: center;
                margin: 20px 2px;
            }
        }
    }
}



//technologies
.technos{
    position: relative;
    top: 64px;
    text-align: center;
    padding:40px ;
     
   & h1{
    color: #551A8B;
    text-decoration: underline 1px double #551A8B;
    text-transform: uppercase;
    @include titleWeight;
   }
}

.technos__container{
width: 100%;
display: flex;
text-align: center;
justify-content: space-around;


    & h2{
    // border: solid orangered 2px;
    text-decoration: double underline 1px;
    color: #551A8B ;
    font-weight: 400;
    }
        &__frontend{
            width: 20vw;
            animation-duration: 5s;
    
            &__list{
                height: 92%;

                & ul{
                    @include spaceBetweenTechnosItems;
                
                }

                    & img{
                         @include ImageSizeTechnos;

                    }

                        & p{
                            @include colorAndDecorationText;
                        }
            }
        }

        &__backend{
            width: 20vw;
            animation-duration: 5s;

            &__list{
            height: 92%;

                & ul{
                @include spaceBetweenTechnosItems;           
                }

                    & img{
                        @include ImageSizeTechnos;
                    }
                        & p{
                            @include colorAndDecorationText;
                        }
            }
        }


        &__databases{
            width: 20vw;
            animation-duration: 5s;

            &__list{
                height: 92%;

                & ul{
                    @include spaceBetweenTechnosItems;               
                }

                    & img{
                        @include ImageSizeTechnos;
                    }
                        & p{
                            @include colorAndDecorationText;
                        }
            }
        }

        &__extras{
            width: 20vw;

            &__list{
                height: 92%;

                & ul{
                    @include spaceBetweenTechnosItems;               
                }

                    & img{
                        @include ImageSizeTechnos;
                    }
                        & p{
                            @include colorAndDecorationText;
                        }
            }
        }
}


//Cv 

.cv__container{
width: 100%;
position: relative;
top: 64px;
//border: solid blue 2px;
display: flex;
flex-direction: column;
border-top: dotted #551A8B 2px;
 background: rgb(2,0,36);
     background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(156,148,153,1) 100%, rgba(0,212,255,1) 100%);

    & h1{
        text-align: center;
        color: white;
        text-transform: uppercase;
        text-decoration: underline double 1px white;
        @include titleWeight;
    }

    &__page{
       // display: flex;
        // justify-content: center;
         width: 100%;
        //border: solid red 2px;
        //margin: 0 auto;

        &__screenshot{
           //border: solid green 2px;
            // width: 60%;
             display: flex;
            justify-content: center;
            

            & img{
                border: double #551A8B 3px;
                margin: 40px 0;
                object-fit: cover;
                //position: relative;
            }
            
        }
        
            &__download{
                border: double #551A8B 4px;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                //margin: auto 0;
                width: 20%;
                height: 6rem;
                background: rgb(2, 0, 36);
                background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(177, 37, 125, 1) 100%, rgba(0, 212, 255, 1) 100%);
                margin: 0 auto 30px auto;
                min-width: 30%;

                &__item{
                    width: 100%;
                    text-align: center;
                }
                    & p{
                        color: #CCCCCC;
                    }
            
                
            }


    }
        
}

//Projets

.projets__container{
     position: relative;
     top: 64px;
     flex-direction: column;
     display: flex;
    align-items: center;
     justify-content: center;
    //background: rgb(32,167,216);
 //background: linear-gradient(0deg, rgba(195,144,241,1) 0%, rgba(32,167,216,1) 100%);
//background: rgb(32,167,216);
//background: linear-gradient(0deg, rgba(32,167,216,1) 0%, rgba(0,0,0,0.9948354341736695) 100%);
    & h1{
        text-align: center;
       color: #551A8B;
       text-transform: uppercase;
       text-decoration: underline double 1px;
       @include titleWeight;
    }

    &__subcontainer{
        width: 100%;
        margin: 16rem auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__slideshow{
        width: 80%;
        box-shadow: .25rem 0.4rem 0.5rem 0 rgba(85, 26, 139, 0.35);
        background-color: white;
    

        &__each__slide{
            height: 100%;

            &__container{
                width: 93%;
                margin: 0 auto;
                 height: 100%;

                & a{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;

                }           
                & img{
                    margin: 0 auto;
                    object-fit: cover;
                    height: auto;
                    display: block;
                    // max-height: 344px;
                    max-width: 85%;                   
                }
            }
        }     
    }   
}


//Contact 

.contact__container{
   // height: 100vh;
    // border: solid red 2px;
    position: relative;
    top: 64px;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;

    & h1{
        margin: 2rem auto;
        text-decoration: underline double 1px #551A8B;
        color: #551A8B;
        @include titleWeight;
        text-transform: uppercase;
    }

    &__fullForm{
        // border: solid black 3px;
        display: flex;
        width: 90%;
        // justify-content: center;
        margin-bottom: 5rem ;
    }
    
    &__formContainer{
        // border: solid blue 2px;
        width: 50%;
        // margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: #20a7d8 double 4px;
        border-radius: 20px;

        & form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 1rem auto;

            & label{
                text-align: center;
                margin: 1rem auto;
                width: 80%;
                text-transform: uppercase;
                text-decoration: double underline #551A8B;
                color: #551A8B;
                font-weight: 700;
            }
                & input{
                    height: 2rem;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-bottom: solid #c390f1 2px;
                    width: 80%;
                    margin: 0 auto;
                    font-weight: 600;
                    font-size: 1rem;
                    background-color: #8fe1ff;
                    border-radius: 5px 5px 0 0;

                    &:focus{
                       outline: none;
                       background: #c390f1;
                       border-radius:5px 5px 0 0;
                        
                    }
                    
                }
                & textarea{
                    max-width: 20rem;
                    min-width: 20rem;
                     max-height: 23rem;
                     min-height: 5rem;
                    margin: 0 auto;
                    border: solid #20a7d8 2px;

                    &:focus{
                        outline: none;
                        border:solid #c390f1 2px;
                    }
                }

                    & p{
                        font-weight: 700;
                        text-align: center;
                    }
                
                        & button{
                            width: 50%;
                            margin: 0 auto;
                            height: 2rem;
                            border-radius: 20px;
                            border: double #551A8B 4px;
                            background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(177, 37, 125) 100%, rgb(0, 212, 255) 100%);
                            color: white;
                            cursor: pointer;
                            text-transform: uppercase;

                            &:hover{
                                color: #c390f1;
                            }
                        }

        }
    }
    &__mesInfos{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 1.1rem 0 10rem 0;
        border-left: #20a7d8 double 4px;
        border-radius: 20px;


        & h2{
            text-decoration: underline double #551A8B 1px;
            color: #551A8B;
            font-size: 1rem;
            font-weight: 700;
            text-transform: uppercase;
        }

            & a{
                background-color: #8fe1ff;
                border-radius: 20px;
                color: #551A8B;
                height: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 700;
                padding: 0 2rem;

                &:hover{
                    color: #c390f1;
                }
            }

                    & i{
                        // border: solid red 2px;
                        padding: 5px;
                    }
    }
}

@media screen and (max-width : 740px) {

html{
    width: 100vw;
}


.nav__header__ul__item a{
    font-size: x-small;
    font-weight: bold;
    text-shadow: none !important;
    padding: 0 20px;
}

//sidebar

.sidebar__container{
     height: 100%;
     display: flex;
     flex-direction: row;
}

.sidebar{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: white;
    position: fixed;
    
    &__nav__links{
        width: 100%;
        display: flex;
        flex-direction: row;
        box-shadow: none;

        & ul{
            flex-direction: row;
            width: 100%;
            justify-content: space-around;
            align-items: center;
            margin: 0;
            padding: 0;
            height: auto;
            display: flex;
            transform: translateY(0);
            
        }

        & li{
            width: auto;
        }
    }

    #toggleSidebar{
        position: relative;
        top: 17px;
        right: 0;
        transform: rotate( 1.25turn);
    }
}

//Technos

.technos{
    padding: 0;

    & h1{
        max-width: 100%;
        font-size: x-large;
        font-weight: 900;
    }
}

.technos__container{
    display: flex;
    flex-direction: column;
    width: 100%;

    &__frontend{
        width: 100%;
    }

    &__backend{
        width: 100%;
    }

    &__databases{
        width: 100%;
    }

    &__extras{
        width: 100%;
    }
}


//CV

.cv__container__page__screenshot img{
    width: 96%;

}

.cv__container__page__download{
    width: 80%;
    height: 3rem;
}
    .presentation__container__description{
        //border: solid yellow 5px;
        height: auto;
        width: 100%;
        margin: 0 auto;
        border: none;
        display: flex;
        flex-direction: column-reverse;

        &__right{
            border: double white 4px;
            border-bottom: none;
            position: initial;
            width: 98%;
            margin: 0 auto;
        }

        &__left{
            border: double white 4px;
            border-top: none;
            position: initial;
            width: 98%;
        }
    }

    //contact

    .contact__container__fullForm{
        display: flex;
        flex-direction: column;
    }

    .contact__container__formContainer{
        width: 100%;
        // border-bottom: double 2px #c390f1;
        border-left: #20a7d8 double 4px;
    }

    .contact__container__mesInfos{
        width: 100%;
        border-right: #20a7d8 double 4px;
        padding: 1rem;

        & a{
            margin: 2rem auto;
        }
    }

}

@media screen and (max-width : 420px) {
.contact__container__formContainer form textarea{
    max-width: 100%;
    min-width: 100%;
}

.contact__container__mesInfos{
    padding: 0;
    // margin: 2rem 0;

     & a{
        padding: 0 5px;
        margin: 2rem auto;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        word-break:break-all;
        // flex-direction: column;
        // background-color: initial;
        // word-wrap: break-word;
    }
  
}


}
